{% extends 'base.html.twig' %}

{% block title %}Takım Ekle{% endblock %}

{% block body %}

    <div class="container">
        {% if message is defined %}
            <div class="alert alert-{{ message_type }}" role="alert">
                {{message}}
            </div>
        {% endif %}

        {% if form is defined %}
            {{ form(form) }}
        {% endif %}
    </div>

{% endblock %}
